a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

.fixedElement {
  position: fixed;
  z-index: 10;
  height: 64px;
  background-color: #d81b60 !important;
}

.fixedElement mat-icon{
  color: #ffffff;
}

/* .menu {
  padding-left: 14px;
  padding-right: 38px;
} */

/* .userName {
  color: #ffffff;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
} */

.header-logo {
  transform: scale(1.2);
}

.main-logo {
  padding-right: 2px;
}

.header-menu {
  width: 40px !important;
}
