<mat-toolbar class="fixedElement">
  <button class="menu" mat-icon-button (click)="inputSideNav.toggle()" *ngIf="!isMobile">
    <mat-icon>menu</mat-icon>
  </button>

  <span>
    <a routerLink="/">
      <!-- <mat-icon class="header-logo">facebook</mat-icon> -->
      <img width="28" src="../assets/images/meanbook-logo-256.png" class="main-logo"/><span style="bottom: 3px; position:relative;">ETA BOOK</span></a>
  </span>

  <div style="margin-left:auto"></div>

  <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="userIsAuthenticated" class="header-menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="userIsAuthenticated" routerLink="/post/{{ userId }}">
      <mat-icon>perm_contact_calendar</mat-icon><button mat-button>My Posts</button>
    </button>
    <button mat-menu-item *ngIf="userIsAuthenticated" routerLink="/">
      <mat-icon>dashboard</mat-icon><button mat-button>All Post</button>
    </button>
    <button mat-menu-item *ngIf="userIsAuthenticated" routerLink="/create">
      <mat-icon>edit</mat-icon><button mat-button>New Post</button>
    </button>
    <!-- <button mat-menu-item *ngIf="!userIsAuthenticated">
      <mat-icon>vpn_key</mat-icon><a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
    </button>
    <button mat-menu-item *ngIf="!userIsAuthenticated">
      <mat-icon>person_add</mat-icon><a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Sign Up</a>
    </button> -->

  </mat-menu>

  <ul>
    <!-- <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li> -->
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Sign Up</a>
    </li>
  </ul>

  <!-- <mat-list-item *ngIf="userIsAuthenticated" class="userName">
    <mat-icon>account_circle</mat-icon> {{ userName }}
  </mat-list-item> -->

  <a mat-button *ngIf="userIsAuthenticated" [matMenuTriggerFor]="profilemenu">
    <mat-icon>account_circle</mat-icon> {{ !isMobile ? userName : "" }}
  </a>

  <mat-menu #profilemenu="matMenu">
    <button mat-menu-item *ngIf="userIsAuthenticated" onclick="alert('Under Constrcution');">
      <mat-icon mat-list-icon>settings</mat-icon>
      <button mat-button>Setting</button>
    </button>
    <button mat-menu-item>
      <mat-icon mat-list-icon>power_settings_new</mat-icon>
      <button mat-button (click)="onLogout()">Logout</button>
    </button>
  </mat-menu>
  <!-- <button mat-icon-button class="userName" *ngIf="userIsAuthenticated">
    <mat-icon>account_circle</mat-icon> {{ userName }}
  </button> -->
</mat-toolbar>
