<h2 class="page-title">
  <mat-icon>vpn_key</mat-icon>&nbsp;
  Meanbook Login
</h2>

<mat-card>
  <mat-spinner *ngIf='isLoading'></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf='!isLoading'>
    <mat-form-field>
      <input matInput type="email" name="email" ngModel placeholder="Email" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" name="password" ngModel placeholder="Password" #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">Login</button>
    <button mat-raised-button routerLink="/">Cancel</button>
  </form>
</mat-card>

<br/>
