<h2 class="page-title"><mat-icon>person_add</mat-icon>&nbsp; Sign Up</h2>

<mat-card>
  <mat-spinner *ngIf='isLoading'></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf='!isLoading'>
    <mat-form-field>
      <input matInput type="email" name="email" ngModel placeholder="Email" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" name="password" ngModel placeholder="Password" #passwordInput="ngModel" required minlength="6">
      <mat-error *ngIf="passwordInput.invalid">Please enter a minimum 6 alpha numeric characters password.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="fullname" name="fullname" ngModel placeholder="Full Name" #fullnameInput="ngModel" required>
      <mat-error *ngIf="fullnameInput.invalid">Please enter full name.</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">Sign Up</button>
    <button mat-raised-button routerLink="/">Cancel</button>
  </form>
</mat-card>

<br/>
