:host {
  display: block;
  margin-top: 5rem;
}

mat-form-field {
  width: 100%;
}

mat-spinner {
    margin: auto;
}

mat-card {
  border: 1px solid #e6e6e6;
  background-color: #fcfcfc;
  box-shadow: 2px 3px 5px rgba(0,0,0,0.4) !important;
}

.page-title {
  color: #4B0082;
  align-items: center;
  display: inline-flex;
}

.page-title mat-icon {
  color: #6A5ACD;
}

.mat-raised-button {
  margin-right: 20px;
}
