main {
  /* min-width: 70%; */
  margin: 1rem auto;
}

.main-mobile {
  width: 96%;
}

.main-desktop {
  width: 80%;
}

.mat-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
}

mat-nav-list {
  margin: auto;
}

mat-nav-list h2 {
  color: #673ab7;
  font-size: 15;
}

h3 {
  text-align: center;
}

.main-container {
  padding-top: 70px;
}

mat-sidenav {
  /* position: fixed; */
  padding-top: 58px;
  /* width: 270px; */
  /* background-color: #ffe7e7; */
  background-color: #fcfcfc;
}

mat-sidenav-content {
  /* background-color: #fcfcfc; */
  background-color: #ffffff;
}

.profile_icon {
  transform: scale(1.1);
  /* padding-right: 10px; */
}

.footer {
  margin-top:auto;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgb(223, 223, 223);
  padding-top:10px;
  font-size: 11px;
  font-weight: 500;
  height: 30px;
  color: rgb(112, 112, 112);
  text-align: center;
}

.all-post {
  min-width: 96px;
}

mat-list-item, p {
  font-size: 14px !important;
  font-weight: 500 !important;
}
