<app-header [inputSideNav]="sideNav"></app-header>

<div class="main-container">
  <mat-sidenav-container class="mat-container" [hasBackdrop]="false">

    <mat-sidenav #sideNav mode="over" opened [fixedInViewport]="false">

      <mat-nav-list *ngIf="!isMobile">

        <mat-list-item>
          <mat-icon mat-list-icon (click)="isExpanded = !isExpanded">
            <mat-icon *ngIf="!isExpanded">more_horiz</mat-icon>
            <mat-icon *ngIf="isExpanded">chevron_left</mat-icon>
          </mat-icon>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item *ngIf="userIsAuthenticated" routerLink="/post/{{ userId }}">
          <mat-icon mat-list-icon class="profile_icon">perm_contact_calendar</mat-icon>
          <p matLine *ngIf="isExpanded">{{ userName | slice:0:14 }}</p>
        </mat-list-item>

        <mat-list-item routerLinkActive="list-item-active" routerLink="/">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <p class="all-post" matLine *ngIf="isExpanded">All Post</p>
        </mat-list-item>

        <mat-list-item *ngIf="userIsAuthenticated" routerLinkActive="list-item-active" routerLink="/create">
          <mat-icon mat-list-icon>edit</mat-icon>
          <p matLine *ngIf="isExpanded">New Post</p>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item *ngIf="userIsAuthenticated" onclick="alert('Under Constrcution');">
          <mat-icon mat-list-icon>settings</mat-icon>
          <p matLine *ngIf="isExpanded">Setting</p>
        </mat-list-item>
        <mat-list-item *ngIf="!userIsAuthenticated" routerLinkActive="list-item-active" routerLink="auth/login">
          <mat-icon mat-list-icon> vpn_key</mat-icon>
          <p matLine *ngIf="isExpanded">Log In </p>
        </mat-list-item>
        <mat-list-item *ngIf="!userIsAuthenticated" routerLinkActive="list-item-active" routerLink="auth/signup">
          <mat-icon mat-list-icon>person_add</mat-icon>
          <p matLine *ngIf="isExpanded">Sign Up </p>
        </mat-list-item>
        <mat-list-item *ngIf="userIsAuthenticated" (click)="onLogout()">
          <mat-icon mat-list-icon>power_settings_new</mat-icon>
          <p matLine *ngIf="isExpanded">Logout</p>
        </mat-list-item>

        <mat-divider></mat-divider>

      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content [style.left]="sideNav.opened && isExpanded ? '36px' : '0'">

      <main class="{{ !isMobile ? 'main-desktop' : 'main-mobile' }}">
        <router-outlet></router-outlet>
      </main>

      <!-- <mat-toolbar class="footer">
        <mat-toolbar-row>2021 @ Copyright Fancybook</mat-toolbar-row>
      </mat-toolbar> -->
      <div class="footer">
        &copy; Copyright 2021, Metabook.com
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
