<h2 class="page-title"><mat-icon>edit</mat-icon> &nbsp; {{ mode | titlecase}} Post</h2>
<mat-card>
  <mat-spinner *ngIf='isLoading'></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf='!isLoading'>
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Post Title" maxlength="80">
      <mat-error *ngIf="form.get('title').invalid">Please enter a post title. Max length with 80 characters</mat-error>
    </mat-form-field>

    <div>
      <button mat-stroke-button type="button" (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
      <mat-error *ngIf="form.get('image').invalid">Please select 1 JPG or PNG photo only. Max file size is 6mb.</mat-error>
    </div>

    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>

    <mat-form-field>
      <textarea matInput rows="4" formControlName="content" placeholder="Post Content" maxlength="200"></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter a post content.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save Post</button>
    <button mat-raised-button routerLink="/">Cancel</button>
  </form>
</mat-card>

<br/>
