
:host {
  display: block;
  margin-top: 5rem;
}

mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 10rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

.page-title {
  color: #4B0082;
  align-items: center;
  display: inline-flex;
}

.page-title mat-icon {
  color: #6A5ACD;
}

mat-card {
  border: 1px solid #e6e6e6;
  background-color: #fcfcfc;
  box-shadow: 2px 3px 5px rgba(0,0,0,0.4) !important;
}

.mat-raised-button {
  margin-right: 20px;
}
