:host {
  display: block;
  margin-top: 5rem;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

mat-panel-title {
  font-weight: 500;
  color: #191970;
  display: inline-flex;
  align-items: center;
  padding-top: 8px;
}

mat-panel-title, span {
  display: block;
}

mat-expansion-panel {
  border: 1px solid #e6e6e6;
  /* background-color: #eeeeee; */
  background-color: #fcfcfc;
  box-shadow: 2px 3px 5px rgba(0,0,0,0.4) !important;
}

mat-expansion-panel-header {
  height: auto!important;
}

mat-action-row {
  display: inline-flex;
  align-items: center;
  /* background-color: #fcfcfc; */
}

mat-icon {
  color: rgb(112, 112, 112);
}

.post-image {
  text-align: center;
  width: 100%;
}

.post-image img {
  width: 100%;
  background-color: #ffffff;

}

.post-details {
  color: #999999;
  font-size: 12px;
}

.post-creator-link {
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #8d8d8d;
}

.post-content {
  text-align: left;
  width: 99%;
  padding: 5px;
  margin: 0px;
  background-color: #ffffff;
}

.posted-by {
  transform: scale(0.8);
}

.comment, .thumbup {
  padding: 0px 5px 0px;
  transform: scale(0.8);
}

.page-title {
  color: #4B0082;
  align-items: center;
  display: inline-flex;
}

.page-title mat-icon {
  color: #6A5ACD;
}
