<h2 class="page-title">
  <mat-icon>{{ pageHeaderIconName }}</mat-icon>
  &nbsp; {{ pageHeaderTitle }}
</h2>

<mat-spinner *ngIf='isLoading'></mat-spinner>
<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let post of posts" [expanded]="true">
  <!-- <mat-expansion-panel *ngFor="let post of posts; let isFirst = first" [expanded]="isFirst"> -->
    <mat-expansion-panel-header >
      <mat-panel-title>
        {{ post.title }}
        <!-- <div style="margin-left:auto"></div>-->
        <span class="post-details">
          <a class="post-creator-link" routerLink="/post/{{ post.creator }}">
            <mat-icon class="posted-by">account_circle</mat-icon>{{ post.creatorName }} @ {{ post.dateCreate | date :'short' }}
          </a>
        </span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="post-image">
      <img [src]="post.imagePath" [alt]="post.title">
      <div class="post-content">{{ post.content}}</div>
    </div>

    <mat-action-row>
      <a href="#"><mat-icon class="thumbup" (click)="onLikePost(post.id)">thumb_up</mat-icon></a> 0
      <a href="#"><mat-icon class="comment">comment</mat-icon></a> 0
      <div style="margin-left:auto"></div>
      <button *ngIf="userIsAuthenticated && userId === post.creator" mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</button>
      <button *ngIf="userIsAuthenticated && userId === post.creator" mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
    </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalPost" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
  *ngIf="posts.length > 0"></mat-paginator>
<p class="info-text mat-body-2" *ngIf="posts.length <= 0 && !isLoading">No posts added yet!</p>
